#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}

body {
  background-color: rgb(88, 88, 186);
}

.back-button {
  background-color: rgb(111, 111, 205);
  border: none;
  padding: 5px;
  border-radius: 2px;
}

.back-button img {
  width: 2em;
}

.nav {
  display: flex;
  align-items: center;
}

.nav h3 {
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-family: sans-serif;
  margin-left: 21%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2%;
}

th,
td {
  text-align: center;
  padding: 8px;
  font-size: 20px;
}

tr:nth-child(even) {
  background-color: #e8e8e8;
}

.footer{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-color: #ffffff;
  padding-top: 10px;
}
.footer-item{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}
.footer-item div{
  width: 3%;
}
.footer-item img{
  width: 100%;
  cursor: pointer;
}
.spinner {
  border: 10px solid #ccc;
  width: 50px;
  border-radius: 50%;
  margin:19px auto;
  align-items: center;
  height: 50px;
  border-top-color: #007bff;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Media Query for Mobile Screens */
@media only screen and (min-width: 275px) and (max-width: 700px) {
  #root {
    padding: 0;
  }

  .nav h3 {
     margin-left: 13%;
    font-size: 20px;
  }
  th,
  td {
    text-align: center;
    padding: 8px;
    font-size: 14px;
  }
  table {
    font-size: 16px;
  }
  .badge-container{
    margin-bottom: 0;
  }
  .footer {
    padding-top: 5px; 
    padding-bottom: 5px; 
  }

  .footer-item {
    padding: 5px; 
  }
  .footer-item div {
    width: 6%; 
  }

  .footer-item img {
    width: 100%;
    cursor: pointer;
  }
}


@media only screen and (min-width: 400px) and (max-width: 600px) {
  #root {
    padding: 0;
  }

  .nav h3 {
    margin-left: 4%;
    font-size: 20px;
  }

  table {
    font-size: 15px;
  }
  .badge-container{
    margin-bottom: 0;
  }
  .footer-item {
    padding: 5px;
  }

  .footer-item div {
    width: 6%; 
  }

  .footer-item img {
    width: 100%;
    cursor: pointer;
  }
}


